= devise_error_messages!
.form-card
  %h2 Forgot your password?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .form-email= f.email_field :email, placeholder: 'Your email', autofocus: true
    .form-button= f.submit "Send reset email"
