.calendar-page
  %h2 Book an appointment with #{tenant.name}
  %ul.calendar-page-list
    - members.each do |member|
      %li.calendar-page-list-item
        %span.calendar-page-list-item-label= member.name
        %ul
          - time_slots_for_today(member).each do |slot|
            %li.calendar-page-time-slot= link_to slot.starts_on.strftime("%l:%M %P"), make_requests_path(slot)
  .calendar-page-date-label= Date.today.strftime("%e")